[submodule "lib-externes/librairies"]
	path = lib-externes/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "lib-externes/ZXing.Delphi"]
	path = lib-externes/ZXing.Delphi
	url = https://github.com/Spelt/ZXing.Delphi.git
